<div class="text-center calc">
	<div class="row">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
				<input type="text" id="result" readonly="true">
			</div>
			</div>
			
		</div>

		<div class="row">
			<button id="+" class="btn-warning">+</button>
			<button id="minus" class="btn-danger">-</button>
			<button id="*" class="btn-primary">x</button>
		</div>

		<div class="row">
			<button id="7" class="btn-info">7</button>
			<button id="8" class="btn-info">8</button>
			<button id="9" class="btn-info">9</button>
		</div>

		<div class="row">
			<button id="4" class="btn-info">4</button>
			<button id="5" class="btn-info">5</button>
			<button id="6" class="btn-info">6</button>
		</div>

		<div class="row">
			<button id="1" class="btn-info">1</button>
			<button id="2" class="btn-info">2</button>
			<button id="3" class="btn-info">3</button>
		</div>

		<div class="row">
			<button id="0" class="btn-info">0</button>
			<button id="00" class="btn-info">000</button>
			<button id="%" class="btn-danger">%</button>
		</div>

		<div class="row">
			<button id="c" class="btn-danger">C</button>
			<button id="Enter" class="btn-success">Enter</button>
		</div>

	</div>

	
</div>